global-exclude *.py[cod]
include CHANGELOG.md
include README.md
include requirements.txt
include src/kenzy_image/VERSION
include src/kenzy_image/
include src/kenzy_image/resources/mobilenet_v3/*.*
include src/kenzy_image/resources/yolov7/*.*
